* {
    font-family: 'Courier New', Courier, monospace;
}

#header {
    text-align: center;
    height: 100px;
    padding-top: 30px;
    color: white;
}

.card-header {
    font-size: 28px;
    color: white;
}